<ion-view view-title="注意事项">
	<div ng-if="$stateParams.noticeId==1">
		<!--头部部分-->
		<div class="bar bar-header bar-blue">
			<a ng-back class="button icon-left ion-chevron-left button-clear"></a>
			<h2 class="title">注意事项</h2>
		</div>
		<div class="mg5"></div>
		<div class="wwrp">
			<p>注意事项内容
			</p>
			<p>①鼎烨分利互赠内测期间，会适度限制激活码的发放，让人员和资金有序进场，请激活码不够的团队稍安勿躁；
			</p>
			<p>②内测期间排单周期为7天一轮，每轮每天捐赠收益为约1%，推广提成比例减半，与正常排单周期15天一轮相匹配且略高；③鼎烨平台的应用主要是为了打造消费者大数据，为实业公司发展服务，所有的玩家通过推广本平台达到一定规模，可以具备在积分商城销售一款或多款F2C的产品，与实业公司共享大数据，同时可以获得一个属于自己的创业平台，通过路演可以获得融资，同时按照公司规则获得共享大数据的机会。欢迎所有怀揣实业梦想和创业梦想的朋友考察、批评指正，平台是我家，建设靠大家！
			</p>
		</div>
	</div>

	<div ng-if="$stateParams.noticeId==2">
		<!--头部部分-->
		<div class="bar bar-header bar-blue">
			<a ng-back class="button icon-left ion-chevron-left button-clear"></a>
			<h2 class="title">告家人书</h2>
		</div>
		<div class="mg5"></div>
		<div class="wwrp">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;尊敬的“鼎烨”家人们，鼎烨应用0.5版已经基本达到公测的要求。我们是区别于所有类似项目，用银行级要求的JAVA开发的所有后台，功能强大完善且可以无限拓展，可以满足后期开发的一切需求，以及嵌入很多技术黑科技。
			</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;前期我们专注于后台的流程，由于开发团队属于银行系统思维，算法和严谨度经过了严格的检测，但针对行业特点的应用体验度和美工工作，会在接下来的0.6版和1.0版进行加强，衷心希望您能给出具体的意见和反馈，我们可以快速优质地改进。鼎烨平台是我们大家的平台，承载着我们所有人赚钱、经商、创业等梦想，相信有了您的参与，“技术改变生活”就是我们的追求！此致
			</p>
			<p> &nbsp;&nbsp;&nbsp;&nbsp;感恩所有家人的支持！</p>
			<p>&nbsp;&nbsp;&nbsp;<strong>"鼎烨"开发团队.2017年2月27日</strong></p>
		</div>
	</div>
	<div ng-if="$stateParams.noticeId==3">
		<div class="header">
			<span><i class="icon iconfont icon-zuojiantou goback" ng-back class="button icon-left ion-chevron-left button-clear"></i></span>
			<h2>互捐服务费通知</h2>
		</div>
		<div class="mg5"></div>
		<div class="wwrp" style="word-break: break-all;">

			<p>&nbsp;&nbsp;&nbsp;&nbsp;“鼎烨”关于互捐服务费的通知 亲爱的鼎烨会员： 您好！鉴于进场人数和资金过多，为了筛选优质客户和合理控制风险，一次互捐服务费可以排所有金额的优惠政策将截止到本月月底。自2017年4月1日起，平台恢复正常的互捐服务费管理：捐赠金额为<strong>500-5,000（含）</strong>，需要收取1次互捐服务费；捐赠金额为<strong>5,100-10,000（含）</strong>，需要收取2次互捐服务费；捐赠金额为<strong>10,100-15,000（含）</strong>，需要收取3次互捐服务费；捐赠金额为<strong>15,100-20,000（含）</strong>，需要收取4次互捐服务费；捐赠金额为<strong>20,100-25,000（含）</strong>，需要收取5次互捐服务费；捐赠金额为<strong>25,100-30,000（含）</strong>，需要收取6次互捐服务费。互捐服务费价格：20元/次, 温馨提示：系统会根据您的排单金额，在提供捐助的时候，自动扣除对应数量的互捐服务费次数.

			</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;祝每位会员生活愉快！

			</p>
			<p> &nbsp;&nbsp;&nbsp;&nbsp;鼎烨利赠平台客服部！
			</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>2017年3月25日
</strong></p>
		</div>
	</div>
</ion-view>