<ion-view view-title="积分交易中心" style="background:#001f3a;">
    <ion-header-bar class="bar bar-header bar-blue">
        <h2 class="title">积分交易中心</h2>
        <a class="button icon-right button-clear" ng-class="data.isConnected?'ion-connection-bars':'ion-alert-circled'"></a>
    </ion-header-bar>

    <ion-tabs class="tabs-icon-only point_tab">
        <ion-tab title="资产" icon-on="integralTrading_on" icon-off="integralTrading">
            <ion-content overflow-scroll="true" style="margin-top:1.9rem;top: 43px;background:#001f3a;" ng-controller="integralTradingController">
                <div class="itWrap">
                    <div class="second">
                        <div><span class="bold" ng-bind="data.totalMoney | currency:'¥'"></span><span><i class="i1"></i><b>总资产</b></span></div>
                        <div><span class="bold" ng-bind="data.wallet.pointTotal"></span><span><i class="i2"></i><b>持仓</b></span></div>
                        <div><span class="bold" ng-bind="data.wallet.cost | currency:'¥'"></span><span><i class="i3"></i><b>成本</b></span></div>
                    </div>
                    <div class="third">
                        <div>
                            <span class="a1"><i>总市值</i><b class="bold" ng-bind="data.totalMarketValue | currency:'¥'"></b></span>
                            <!-- <span class="a2"><i>总盈亏</i><b>000000</b></span> -->
                            <span class="a2"><i>今日盈亏</i><b class="bold" ng-bind="data.todayChanges | currency:'¥'"></b></span>
                        </div>
                        <div>
                            <span class="a2"><i>可取</i><b class="bold" ng-bind="data.wallet.wallet | currency:'¥'"></b></span>
                            <span class="a1"><i>可用</i><b class="bold" ng-bind="data.wallet.wallet | currency:'¥'"></b></span>
                            <span class="a3" ui-sref="management"><em></em></span>
                        </div>
                    </div>
                    <div class="fourth">
                        <span class="title">积分交易价走势</span>
                        <div class="trend" ng-show="data.isOpen">
                            <div>
                                <span class="crude" ng-bind="data.market.curPrice"></span>
                                <span ng-bind="data.priceChanges"></span><span ng-bind="data.priceChangesPercentage"></span>
                            </div>
                            <div>
                                <span><i>今开:</i><b ng-bind="data.market.closePrice"></b></span>
                                <span><i>涨停:</i><b ng-bind="data.market.limitUpPrice"></b></span>
                                <span><i>最高:</i><b ng-bind="data.market.maxPrice"></b></span>
                            </div>
                            <div>
                                <span><i>昨收:</i><b ng-bind="data.market.closePrice"></b></span>
                                <span><i>跌停:</i><b ng-bind="data.market.limitDownPrice"></b></span>
                                <span><i>最低:</i><b ng-bind="data.market.minPrice"></b></span>
                            </div>
                            <div>
                                <span><i>成交额:</i><b ng-bind="data.market.todayTotal | currency:'¥'"></b></span>
                                <span><i>换手率:</i><b ng-bind="data.tradeRate"></b></span>
                            </div>
                        </div>
                        <div ng-show="!data.isOpen" style="text-align: center;margin: 10px auto;color: #fff;">
                            暂未开盘
                        </div>
                        <div class="lineChart" id="chart" bar-charts data-source='vm.groupData'></div>
                        <!-- <button type="button" class="btn" ng-click="chart('all');">全天数据</button><button type="button" class="btn" ng-click="chart('now');">当前数据</button> -->
                    </div>
                    <div class="fifth">
                        <span class="title">全网交易量化表</span>
                        <div class="surface">
                            <table border="1px" cellspacing="1px" cellpadding="1px">
                                <tr>
                                    <th rowspan="6" class="left">卖</th>
                                    <th class="price">单价</th>
                                    <th class="state">待卖出</th>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[0].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[0].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[1].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[1].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[2].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[2].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[3].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[3].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[4].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[4].amount"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="surface">
                            <table border="1px" cellspacing="1px" cellpadding="1px">
                                <tr>
                                    <th rowspan="6" class="left">买</th>
                                    <th class="price">单价</th>
                                    <th class="state">购买量</th>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[0].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[0].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[1].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[1].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[2].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[2].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[3].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[3].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[4].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[4].amount"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="买入" icon-on="purchase_on" icon-off="purchase">
            <ion-content overflow-scroll="true" style="margin-top:1.9rem;top: 43px;background:#001f3a;" ng-controller="purchaseController">
                <div class="purchaseWrap">
                    <div class="second">
                        <div>
                            <span><i></i><b><em>可&nbsp;&nbsp;&nbsp;用&nbsp;&nbsp;</em><strong ng-bind="data.wallet.wallet | currency:'¥ '"></strong></b><b><em>不可用&nbsp;&nbsp;</em><strong ng-bind="data.wallet.wallet2 | currency:'¥ '"></strong></b></span>
                            <span><i></i><b><em>持&nbsp;&nbsp;&nbsp;仓&nbsp;&nbsp;</em><strong ng-bind="data.wallet.point"></strong></b><b><em>不可用&nbsp;&nbsp;</em><strong ng-bind="data.wallet.point2"></strong></b></span>
                        </div>
                        <div>
                            <span><i></i><b><em ng-style="data.todayChanges>=0?{color:'red'}:{color:'#cffa35'}" ng-bind="data.todayChanges>=0?'盈&nbsp;+':'亏&nbsp;'"></em><strong ng-style="data.todayChanges>=0?{color:'red'}:{color:'#cffa35'}" ng-bind="data.todayChanges | currency:'¥ '"></strong></b></span>
                            <span><i></i><b><em>成&nbsp;&nbsp;&nbsp;本&nbsp;&nbsp;</em><strong ng-bind="data.wallet.pointAvg"></strong></b><b><em>现&nbsp;&nbsp;&nbsp;价&nbsp;&nbsp;</em><strong ng-bind="data.market.curPrice"></strong></b></span>
                        </div>
                    </div>
                    <div class="third">
                        <span class="title">买入积分</span>
                        <div class="inputBox"><i class="box1"></i><input type="text" name="" ng-blur="calc();" ng-model="vm.price" placeholder="买入价格" /></div>
                        <div class="info"><span><i>涨停：</i><b ng-bind="data.market.limitUpPrice"></b></span><span><i>跌停：</i><b ng-bind="data.market.limitDownPrice"></b></span></div>
                        <div class="inputBox"><i class="box2"></i><input type="text" name="" ng-blur="calc();" ng-model="vm.amount" placeholder="买入数量" /></div>
                        <div class="info"><span><i>最新：</i><b ng-bind="data.market.curPrice"></b></span><span><i>可买：</i><b ng-bind="maxBuyNumber"></b></span></div>
                        <div class="third_transaction">
                            <div class="box box-left">
                                <span><i>买入比例 </i></span>
                                <span><i>交易额</i></span>
                                <span><i>手续费</i></span>
                            </div>
                            <div class="box box-right">
                                <span class="span-border"><button ng-click="changePercentage(-10);">－</button>
                                <input type="text" min="1" max="100" ng-model="vm.percentage" number-Input="checkValid();" ng-model-options="{allowInvalid: false}" value="10"/>
                                <b>%</b>
                                <button ng-click="changePercentage(10);">＋</button></span>
                                <span><i ng-bind="tradeVolume"></i><b>CNY</b></span>
                                <span><i ng-bind="commission"></i><b></b>CNY</span>
                            </div>
                        </div>
                        <div class="inputBox"><i class="box3"></i><input type="password" name="" id="" ng-model="vm.password" placeholder="交易密码" /></div>
                        <div class="fourth">
                            <button ng-click="buy();">买&nbsp;&nbsp;入</button>
                        </div>
                    </div>
                    
                    <div class="fifth">
                        <span class="title">全网交易量化表</span>
                        <div class="surface">
                            <table border="1px" cellspacing="1px" cellpadding="1px">
                                <tr>
                                    <th rowspan="6" class="left">卖</th>
                                    <th class="price">单价</th>
                                    <th class="state">待卖出</th>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[0].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[0].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[1].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[1].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[2].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[2].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[3].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[3].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[4].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[4].amount"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="surface">
                            <table border="1px" cellspacing="1px" cellpadding="1px">
                                <tr>
                                    <th rowspan="6" class="left">买</th>
                                    <th class="price">单价</th>
                                    <th class="state">购买量</th>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[0].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[0].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[1].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[1].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[2].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[2].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[3].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[3].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[4].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[4].amount"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="卖出" icon-on="sellOut_on" icon-off="sellOut">
            <ion-content overflow-scroll="true" style="margin-top:1.9rem;top: 43px;background:#001f3a;" ng-controller="sellOutController">
                <div class="sellOutWrap">
                    <div class="second">
                        <div>
                            <span><i></i><b><em>可&nbsp;&nbsp;&nbsp;用&nbsp;&nbsp;&nbsp;</em><strong ng-bind="data.wallet.wallet | currency:'¥ '"></strong></b><b><em>不可用&nbsp;&nbsp;&nbsp;</em><strong ng-bind="data.wallet.wallet2 | currency:'¥ '"></strong></b></span>
                            <span><i></i><b><em>持&nbsp;&nbsp;&nbsp;仓&nbsp;&nbsp;&nbsp;</em><strong ng-bind="data.wallet.point"></strong></b><b><em>不可用&nbsp;&nbsp;&nbsp;</em><strong ng-bind="data.wallet.point2"></strong></b></span>
                        </div>
                        <div>
                            <span><i></i><b><em ng-style="data.todayChanges>=0?{color:'red'}:{color:'#cffa35'}" ng-bind="data.todayChanges>=0?'盈&nbsp;+':'亏&nbsp;'"></em><strong ng-style="data.todayChanges>=0?{color:'red'}:{color:'#cffa35'}" ng-bind="data.todayChanges | currency:'¥ '"></strong></b></span>
                            <span><i></i><b><em>成&nbsp;&nbsp;&nbsp;本&nbsp;</em><strong ng-bind="data.wallet.pointAvg"></strong></b><b><em>现&nbsp;&nbsp;&nbsp;价&nbsp;</em><strong ng-bind="data.market.curPrice"></strong></b></span>
                        </div>
                    </div>
                    <div class="third">
                        <span class="title">卖出积分</span>
                        <div class="inputBox"><i class="box1"></i><input type="text" name="" id="" ng-blur="calc();" ng-model="vm.price" placeholder="卖出价格" /></div>
                        <div class="info"><span><i>涨停：</i><b ng-bind="data.market.limitUpPrice"></b></span><span><i>跌停：</i><b ng-bind="data.market.limitDownPrice"></b></span></div>
                        <div class="inputBox"><i class="box2"></i><input type="text" name="" id="" ng-blur="calc();" ng-model="vm.amount" placeholder="卖出数量" /></div>
                        <div class="info"><span><i>最新：</i><b ng-bind="data.market.curPrice"></b></span><span><i>可卖：</i><b ng-bind="maxSellNumber"></b></span></div>
                        <div class="third_transaction">
                            <div class="box box-left">
                                <span><i>卖出比例 </i></span>
                                <span><i>交易额</i></span>
                                <span><i>手续费</i></span>
                            </div>
                            <div class="box box-right">
                                <span class="span-border"><button ng-click="changePercentage(-10);">－</button>
                                <input type="text" min="1" max="100" ng-model="vm.percentage" number-Input="checkValid();" ng-model-options="{allowInvalid: false}" value="10"/>
                                <b>%</b>
                                <button ng-click="changePercentage(10);">＋</button></span>
                                <span><i ng-bind="tradeVolume"></i><b>CNY</b></span>
                                <span><i ng-bind="commission"></i><b></b>CNY</span>
                            </div>
                        </div>
                        <div class="inputBox"><i class="box3"></i><input type="password" name="" id="" ng-model="vm.password" placeholder="交易密码" /></div>
                        <div class="fourth">
                            <button ng-click="sell();">卖&nbsp;&nbsp;出</button>
                        </div>
                    </div>
                    
                    <div class="fifth">
                        <span class="title">全网交易量化表</span>
                        <div class="surface">
                            <table border="1px" cellspacing="1px" cellpadding="1px">
                                <tr>
                                    <th rowspan="6" class="left">卖</th>
                                    <th class="price">单价</th>
                                    <th class="state">待卖出</th>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[0].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[0].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[1].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[1].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[2].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[2].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[3].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[3].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.sellQueue[4].price"></td>
                                    <td class="state" ng-bind="data.market.sellQueue[4].amount"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="surface">
                            <table border="1px" cellspacing="1px" cellpadding="1px">
                                <tr>
                                    <th rowspan="6" class="left">买</th>
                                    <th class="price">单价</th>
                                    <th class="state">购买量</th>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[0].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[0].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[1].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[1].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[2].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[2].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[3].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[3].amount"></td>
                                </tr>
                                <tr>
                                    <td class="price" ng-bind="data.market.buyQueue[4].price"></td>
                                    <td class="state" ng-bind="data.market.buyQueue[4].amount"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="撤单" icon-on="killOrder_on" icon-off="killOrder" on-select="onTabSelected('killOrder');">
            <ion-content overflow-scroll="true" style="margin-top: 1.9rem;top: 43px;background:#001f3a;" class="killOrderWrap" ng-controller="killOrderController">
                <div>
                    <div class="second" ng-repeat="item in list">
                        <div class="left">
                            <span class="title"><i>委托时间:</i><b ng-bind="item.time | date:'hh:mm:ss'"></b></span>
                            <div>
                                <span class="iconBox">
                                    <i ng-bind="item.isBuy==1?'买':'卖'" ng-class="item.isBuy==1?'':'sellColor'"></i>
                                </span>
                                <span class="wordBox">
                                    <span>
                                        <b ng-class="item.isBuy==1?'':'sellColor'">委托</b>
                                        <b ng-class="item.isBuy==1?'':'sellColor'">成交</b>
                                    </span>
                                    <span>
                                        <b ng-class="item.isBuy==1?'':'sellColor'" ng-bind="item.amount + item.trade"></b>
                                        <b ng-class="item.isBuy==1?'':'sellColor'" ng-bind="item.trade"></b>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="center">
                            <span ng-class="item.isBuy==1?'':'sellColor'">
                                <b>委托价</b>
                                <b ng-bind="item.price"></b>
                            </span>
                        </div>
                        <div class="right">
                            <button ng-class="item.isBuy==1?'':'sellColor'" ng-click="cancelSell(item,$index);">撤单</button>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="成交" icon-on="deal_on" icon-off="deal" on-select="onTabSelected('deal');">
            <div class="dealWrap" style="top: 44px;margin-top: 1.9rem;" ng-controller="dealController">
                <div class="tabNav">
                    <span ng-class="tab_index===0?'tabActive':''" ng-click="tab(0);" style="border-radius: 5px 0 0 5px;"><i class="tab1"></i><b>&nbsp;今日委托</b></span>
                    <span ng-class="tab_index===1?'tabActive':''" ng-click="tab(1);" style="border-radius: 0 5px 5px 0;"><i class="tab2"></i><b>&nbsp;今日成交</b></span>
                </div>

                <ion-content overflow-scroll="true" style="background: #001f3a;top:64px;margin-bottom: calc(1.9rem + 45px);" ng-show="tab_index===0">
                    <div class="tradeItem" ng-repeat="item in waitList" ng-class="item.isBuy==1?'red':'green'">
                        <span>委托单价 <b ng-bind="item.price | currency:'¥ '"></b></span>
                        <div class="tradeNews flex-h">
                            <div class="flex3 flex-v">
                                <span class="flex1">
                                    数量
                                </span>
                                <div class="flex1 flex-h">
                                    <span class="flex1">委托</span><span class="flex1">成交</span> 
                                </div>
                                <div class="flex1 flex-h">
                                    <span class="flex1" ng-bind="item.amount"></span><span class="flex1" ng-bind="item.tradeAmount">1</span> 
                                </div>
                            </div>
                            <div class="flex1" style="line-height:60px;">
                                <b ng-bind="item.closeType==='1'?'已成交':item.closeType==='2'?'已撤单':item.closeType==='3'?'因停盘做废':'委托中'"></b>
                            </div>
                            <div class="flex3 flex-v">
                                <span class="flex1">
                                    总价
                                </span>
                                <div class="flex1 flex-h">
                                    <span class="flex1">委托</span><span class="flex1">成交</span> 
                                </div>
                                <div class="flex1 flex-h">
                                    <span class="flex1" ng-bind="item.total | currency:'¥ '"></span><span class="flex1" ng-bind="item.tradeTotal | currency:'¥ '"></span> 
                                </div>
                            </div>
                        </div>
                        <div  class="flex-h">
                            <span class="flex1">编号：<b ng-bind="item.code"></b></span><span class="flex1">委托时间： <b ng-bind="item.time | date:'HH:mm:ss'"></b></span>
                        </div>
                    </div>
                </ion-content>

                <div class="dealTitle flex-h" ng-show="tab_index===1">
                    <span class="flex3">编号／成交时间</span>
                    <span class="flex2">成交价格</span>
                    <span class="flex2">成交数量</span>
                    <span class="flex3">成交总价</span>
                </div>
                <ion-content overflow-scroll="true" style="background: #001f3a;top: calc(0.8rem + 60px);margin-bottom: calc(1.9rem + 45px);" ng-show="tab_index===1">
                    <div class="dealItem flex-h" ng-repeat="item in completeList" ng-style="{true: {color:'#f80002'}, false: {color:'#9cce07'}}[item.isBuy==1]">
                        <span class="flex3 flex-v">
                            <b class="flex1" ng-bind="item.code"></b>
                            <b class="flex1" ng-bind="item.time | date:'HH:mm:ss'"></b>
                        </span>
                        <span class="flex2" ng-bind="item.price | currency:'¥ '"></span>
                        <span class="flex2" ng-bind="item.amount"></span>
                        <span class="flex3"><b ng-bind="item.total | currency:'¥ '"></b></span>
                    </div>
                </ion-content>
            </div>
        </ion-tab>
    </ion-tabs>
    
</ion-view>
