.top-toolbar {
    z-index: 10;
    height: 45px;
    width: 100%;
    line-height: 48px;
    background: #ccc;
    /*设置不可选中*/
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /*user-select: none;*/
    .toolbar_img    {
    float: right;
    position: absolute;
    }

    .toolbar_img img {
        padding-top: 9px;
    }
}

.ant-divider{margin:-6px 4px;color:#999;display:inline-block;height:17px;width:1px;background:#ccc}

.top-toolbar img {
    padding: 10px;
    cursor: pointer;
}

.top-toolbar .toolbar_img img {
    padding-top: 12px;
}