html body *, html body input, #wrap input {font-family:"Microsoft Yahei","Microsoft JhengHei",Arial,sans-serif;}
/*訂單查詢頁籤*/
#login_nav ul{padding-top:65px;}
#login_nav ul li.lastli{margin-right:10px;}
.marginl .roundbox_up{padding-top:0;}
.return-detail .container{display : inline-block;*display : inline;}

/*結帳頁面*/
.roundbox_up_3{padding-top:0;}
.step_pay_action_li_left{margin-left:170px;}
.step_pay_action_li_right{margin-right:178px;}
.step2_pay_action_li_left {float:left;width: 125px; margin-left:150px;}

/*fix填寫訂購資料內，統一編號與發票抬頭訊息提示框位置*/
.roundbox_center_3 span.field-validation-error.checkCompanyNo, .roundbox_center_3 span.field-validation-error.checkCompanyTitle{margin-left: -5px; margin-top: 0;}

/*商品頁-tag*/
.tag .tag_bg td{background:rgb(180, 180, 180);}

/*商品頁推薦商品*/
.product_push{margin:20px 5px 5px 25px;}
		
/*天-右邊*/
.topnav li{border-left:1px dotted #D0D0D0;padding-left:10px;vertical-align:baseline;}
.topnav #cart{padding-right:0px;}
.topnav .epaper{padding-left:0px;border:0px;}
			
.passie7{width:127px;}
.loginnote{margin-left:10px;}
.inquire .remain{width:915px; margin:0 0px 0 20px;}
.inquire .remain select{margin:0 5px;}	
.rboxL_up, .rboxR_up{width:180px; margin:0 10px 0  0;}
.rboxL_center, .rboxR_center{background:white;margin:0;border-left:1px #e1e1e1 solid;border-right:1px #e1e1e1 solid;padding:0px 20px 30px;}
.rboxL_center{width:158px;}
.rboxL_up, .rboxL_down, .rboxR_up, .rboxR_down{padding:10px;}
.rboxR_center{width:680px;}
.rboxR_up, .rboxR_down{width:720px;}
.delete{padding:2px 13px 4px 37spx;}
#exhibit{padding:17px 0px 17px 0px;/*IE6 img dropfix*/}
.display li{overflow:hidden;/*IE6 FLOAT HACK*/height:240px;margin:0px 6px 5px;width:169px;}
			
/*新品頁&分類頁*/
.list_display li, .list_display_5 li{font-size: 11px;}
.list_display li{margin:20px 25px 10px 0;height:385px}
.list_display_5 li{margin:20px 14px 10px 0;}
.archorList{width:100%;}

.jeans li, .jeans2 li{width:188px;height:435px;margin:0;}	
.jeans2 li{height:390px;}
	
.label h3{margin:15px -19px 15px -10px;/*Ie6 fix*/}
				
.size .size2 {margin-top: 15px;} 
.size2 a{margin:0}
.size2 a:hover{margin:0 }
 
 /*fix滑來滑去小購物車*/
.check{width:auto;}
.check_wrapper1{right:-1px;}
			
#wrap .any{padding-left:0;width:770px;}
.choose  .adjust  a span{	padding:1px 17px 0px;}
div.remind, div.error{margin:0px 0px 0 -5px;}
div .exhibitin .display{padding-top:10px;}			
#exhibit .pagerin{margin-top:-36px;}	
.any .display li{width:140px;}
.newspart{padding:20px 0 10px;}

/*搜尋框*/
#search #keyWord{width:235px;padding-top:5px;padding-left:4px;color:#666666;; height:20px;border:1px #CCC solid;display:block; }
#search .search_btn{width:40px;height:15px;}
			
/*QuickView*/
.quickview{filter:alpha(opacity=80);}
#fancybox-outer{filter:alpha(opacity=100);}
#fancybox-content{border-color:#444;filter:alpha(opacity=100);position:relative;}
#fancybox-frame{position:static;}
#fancybox-title{background-color:#444;filter:alpha(opacity=100);}
#fancybox-title-over{padding-bottom:4px!important;}
.gap110{margin-top:120px;}
.fix_img_ie6{margin-top:10px;}
#sizelist a{text-decoration:none;}
#sizelist a:hover{color:#555;}
		
/*側邊欄*/		
#shortcut_area{position:absolute;top:expression(documentElement.scrollTop+40);}
#shortcut_menu input{width:15px;}

/*側邊浮動top按鈕*/
#top{right:-40px;position:absolute;}

/*側邊浮動購物車*/
#floatCart{right:-40px;position:absolute;display:block;}
#floatCart a.cart_check{right:2px;}
#floatCart em.cart_total{right:0;}

/*fix商品頁快捷選單會被覆蓋掉的問題*/
.fix_shortcut_menu, .gray_header,.topnav a,#head{z-index:-1;}

/*fix活動頁購物車列表*/
#any_pick_panel #shop_list dl{width:auto;}
.shoppingCartCheck{right:20px;background-repeat:no-repeat;line-height:1.6;}
#any_pick_panel #shop_list .onSaleProductItem{margin:15px 12px;}
#AjaxDiv .sale-list li{height:295px}

/*i-Look*/
.tag .tag_bg td{background:rgb(180, 180, 180);}

/*fix結帳頁錯誤訊息位置*/
.order ul li.order-group span.field-validation-error, .order ul li.receiving-group span.field-validation-error { margin-top: -3px; }

/*fix常見問題Q&A*/
#FAQCategory{margin-left:10px;}
#FAQList{margin-right:10px;}

/*會員登入*/
.login-right, .login-right-first {width:390px;}
#loginform #pwd label {left:10px;}

/*fix故障通知*/
#feedback-link{padding-right:10px;}
#feedback-title,#feedback-mail{line-height:2.5;}

.lookbookli li { display: inline; }

/*商品頁*/
.size .picksize a { margin-right: 2px; }
#product-prompt a { display: inline-block; line-height:1.2; padding-top:1px; }
.addcart .btn_saleOut, .addcart .btn_addcart, .addcart .btn_notify { padding-top: 2px; padding-bottom:3px; }
.step-pay-select-list #ui-list-icons li.first-child { line-height: 1.1;}
/*fix註冊按鈕*/
.fancyRegister { padding-top : 2px; }

/*fix結帳頁帶入歷史地址*/
#history-address-choose { top: 16px; }
#history-address { top: 37px; }
#add-history-address { top: 21px; }
/*fix地-手機版連結*/
#footer span.web-mobile a{padding-top:0px;}

/*體驗活動首頁*/
.banner-head .banner-subtitle { display: block; margin-top: 50px; letter-spacing: 5px; }
.banner-head .heatup-logo .banner-price { vertical-align: baseline; }