<ion-view view-title="账户设定">
    <!--头部部分-->
    <div class="header">
        <span><i ng-back class="icon iconfont icon-zuojiantou"></i></span>
        <h2>账户设定</h2>
    </div>
    <!--银行卡添加页面-->
    <!--需要抓取数据-->
    <div class="magn"></div>
    <div class="account_card account_card1">
        <span class="titile"><h2>银行卡账户    (储蓄卡)</h2><a href=""><i class="account_xiugai" ng-click="update();"></i></a><b></b></span>
        <span><i>银行卡号:</i><b class="kh" ng-bind="bankNum"></b></span>
        <span><i>开户银行:</i><b class="yh" ng-bind="depositBank"></b></span>
        <span><i>支行名称:</i><b class="xh" ng-bind="detailBank"></b></span>
    </div>

    <!--需要抓取数据-->
    <div class="account_card account_card2">
        <span class="titile"><h2>银行卡账户    (备用储蓄卡)</h2><a href=""><i class="account_xiugai" ng-click="update();"></i></a><b></b></span>
        <span><i>银行卡号:</i><b class="kh1" ng-bind="bankNum2"></b></span>
        <span><i>开户银行:</i><b class="yh1" ng-bind="depositBank2"></b></span>
        <span><i>支行名称:</i><b class="xh1" ng-bind="detailBank2"></b></span>
    </div>
    <!--支付宝账号-->
    <div id="account_zhifubao">
        <span class="account_bbl"><em></em>&nbsp;<i>支付宝账号</i><b class="account_zhifubao" ng-bind="alipayId"></b></span>
    </div>

    <div class="account_more" ng-click="add();">
        <span class="highlight"><i class="icon iconfont icon-jiahao"></i></span>
        <span>&nbsp;&nbsp;更新账户信息</span>
        <span><i class="icon iconfont icon-jiantouyou"></i></span>
    </div>
</ion-view>