<ion-modal-view class="payFinish">
    <ion-header-bar class="bar bar-header bar-blue">
        <h2 class="title">支付完成</h2>
        <a class="button" style="color:#000;" ng-click="payFinishedConfirm();">完成</a>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="address-info">
            <div>
                <table>
                    <tr>
                        <td><b ng-bind="ordership.shipname"></b></td>
                        <td><b ng-bind="ordership.phone"></b></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span>
                                <b><span ng-bind="ordership.province"></span><span ng-bind="ordership.city"></span><span ng-bind="ordership.area"></span></b>
                                <b ng-bind="ordership.shipaddress"></b>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="orderList white">
            <div class="order-box">
                <div ng-repeat="product in productList" class="shangpinDd">
                    <div class="jiLeft">
                        <img ng-src="{{host}}{{product.picurl160}}"/>
                        <span ng-class="product.productType==='31'?'hj':product.productType==='37'?'jf':product.productType==='38'?'kd':''" ng-bind="product.catalogName"></span>
                    </div>
                    <div class="jifenRight">
                        <span class="sJ"><b ng-bind="product.productName"></b></span>
                        <span><b class="cLan" ng-bind="product.price | currency:'￥'"></b></span>
                        <span><i>×</i><b class="cLan" ng-bind="product.productNumber"></b></span>
                    </div>
                    <div class="shanchu" ng-click="deleteItem($index);"></div>
                </div>
            </div>
        </div>
        <div class="open-detail white">
            <div class="open-title" ng-if="billing_buyNumber>0" ng-click="billingDetail();">
                <img src="public/images/hzifuxiangqing.png" alt=""/>
            </div>
            <div class="open-title" ng-if="donation_buyNumber>0" ng-click="donationDetail();">
                <img src="public/images/cxfuxiangqing.png" alt=""/>
            </div>
            <div class="pay-detail-info">
                <table>
                    <!--<tr>
                        <td><i>运费</i></td>
                        <td>￥<b>25</b></td>
                    </tr>-->
                    <tr>
                        <td><i class="black">实付现金</i></td>
                        <td><b class="cLan" ng-bind="cutMoney | currency:'￥'"></b></td>
                    </tr>
                    <tr>
                        <td><i class="black">消费钱包</i></td>
                        <td><b class="cLan" ng-bind="cutWallet | currency:'￥'"></b></td>
                    </tr>
                    <tr>
                        <td><i class="black">推荐钱包</i></td>
                        <td><b class="cLan" ng-bind="cutWalletReward | currency:'￥'"></b></td>
                    </tr>
                    <tr>
                        <td><i class="black">实付积分</i></td>
                        <td>&nbsp;<b class="cLan" ng-bind="cutScorePoint"></b></td>
                    </tr>
                    <tr>
                        <td><i class="black">实付消费券</i></td>
                        <td>&nbsp;<b class="cLan" ng-bind="cutScoreTicket"></b></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="send-info">
            <div>
                <table>
                    <tr>
                        <td><i>订单编号</i></td>
                        <td><b ng-bind="orderNo"></b></td>
                    </tr>
                    <tr>
                        <td><i>创建时间</i></td>
                        <td><b ng-bind="createdate"></b></td>
                    </tr>
                    <tr>
                        <td><i>付款时间</i></td>
                        <td><b ng-bind="paydate"></b></td>
                    </tr>
                    <tr ng-if="senddate">
                        <td><i>发货时间</i></td>
                        <td><b ng-bind="senddate"></b></td>
                    </tr>
                    <tr ng-if="signdate">
                        <td><i>成交时间</i></td>
                        <td><b ng-bind="signdate"></b></td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
</ion-modal-view>