.payFinish {
    .cLan {
        color: #d22d19;
        font-weight: 600;
    }
    .black{
        color: #000;
    }
    .address-info {
        height: auto;
        background: #f7f7f7;
        padding-top: 0.2rem;
        div {
            width: 80%;
            margin: 0 10%;
            border-bottom: 2px solid #f4f4f4;
            padding-bottom: 0.2rem;
            box-sizing: border-box;
            table {
                height: 1.2rem;
                tr {
                    td {
                        text-align: left;
                        height: 0.25rem;
                        i,
                        b {
                            font-style: normal;
                        }
                        span {
                            height: 100%;
                        }
                    }
                    td:first-of-type {
                        width: 62%;
                    }
                }
            }
            .d1,
            .d2 {
                float: left;
                width: 50%;
                height: 0.57rem;
                line-height: 0.57rem;
                padding-left: 0.35rem;
                box-sizing: border-box;
                i,
                b {
                    font-size: 0.2rem;
                }
            }
            .d3 {
                clear: both;
                width: 100%;
                padding-left: 0.35rem;
                padding-right: 0.3rem;
                height: auto;
                box-sizing: border-box;
                overflow: hidden;
                i,
                b {
                    font-size: 0.2rem;
                }
            }
        }
    }
    .orderList {
        height: auto;
        padding: 0 0.35rem;
        margin-top: 0.24rem;
        .order-box {
            border: 1px solid #cccccc;
            .shangpinDd-change {
                border-style: none;
            }
            .shangpinDd {
                width: 100%;
                height: 1.9rem;
                padding: 3%;
                box-sizing: border-box;
                border-bottom: 2px solid #f4f4f4;
                clear: both;
                position: relative;
                .jiLeft {
                    width: 24%;
                    height: 1.6rem;
                    float: left;
                    img {
                        width: 100%;
                        height: 1.32rem;
                        display: block;
                    }
                    span {
                        width: 100%;
                        height: 0.28rem;
                        display: block;
                        border: 1px solid #f4f4f4;
                        box-sizing: border-box;
                        text-align: center;
                        line-height: 0.28rem;
                        font-size: 0.14rem;
                        color: #a6c04c;
                    }
                    .jf {
                        color: #a6c04c;
                    }
                    .kd {
                        color: #d47272;
                    }
                    .hj {
                        color: #3da6ec;
                    }
                }
                .jifenRight {
                    width: 70%;
                    height: 100%;
                    float: left;
                    padding-left: 0.18rem;
                    box-sizing: border-box;
                    span {
                        display: block;
                        border-bottom: 0.05rem;
                        height: auto;
                        margin-bottom: 0.04rem;
                    }
                    i,
                    b {
                        font-size: 0.2rem;
                    }
                    i {
                        display: inline-block;
                    }
                    b {
                        display: inline-block;
                        width: 2.4rem;
                    }
                }
            }
        }
    }
    .open-detail {
        height: 2.82rem;
        margin-top: 0.35rem;
        padding: 0 0.35rem;
        .open-title {
            display: inline-block;
            height: 0.45rem;
            img {
                height: 100%;
                width: auto;
            }
        }
        .pay-detail-info {
            height: 2.37rem;
            table {
                width: 90%;
                height: 90%;
                margin: 5%;
                tr {
                    td:first-of-type {
                        width: 80%;
                        text-align: left;
                        vertical-align: top;
                        font-size: 0.2rem;
                        b {
                            color: #3da6ec;
                        }
                    }
                    td:nth-child(2) {
                        width: 80%;
                        text-align: left;
                        vertical-align: top;
                        font-size: 0.2rem;
                    }
                }
            }
        }
    }
    .send-info {
        height: 2.02rem;
        padding: 0 0.35rem;
        margin-top: 0.24rem;
        margin-bottom: 0.4rem;
        div {
            height: 100%;
            border: 0.01rem dashed #cccccc;
            table {
                width: 90%;
                height: 100%;
                margin: 0 5%;
                tr {
                    td:first-of-type {
                        text-align: left;
                        width: 20%;
                        vertical-align: middle;
                        font-size: 0.2rem;
                    }
                    td:nth-child(2) {
                        text-align: left;
                        vertical-align: middle;
                        font-size: 0.2rem;
                    }
                }
            }
        }
    }
}