<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-blue">
        <a ng-click="closeModal();" class="button icon-left ion-close-round button-clear"></a>
        <h2 class="title">积分账单查询</h2>
    </ion-header-bar>

    <ion-content style="background: #e4f5ff;">
        <div id="billSelectWrap">
            <div class="selectWrap">
                <span class="select1" ng-click="filter('buy');"><i></i><b>买入</b></span>
                <span class="select2" ng-click="filter('sell');"><i></i><b>卖出</b></span>
                <span class="select3" ng-click="filter('Inactive');"><i></i><b>未激活积分</b></span>
                <span class="select4" ng-click="filter('Open');"><i></i><b>开单保留</b></span>
                <span class="select5" ng-click="filter('Order');"><i></i><b>商城消费</b></span>
                <span class="select6" ng-click="filter('Max');"><i></i><b>捐赠满额</b></span>
                <span class="select7" ng-click="filter('OrderCancel');"><i></i><b>取消订单</b></span>
                <span class="select8" ng-click="filter('OrderConfirm');"><i></i><b>消费赠送</b></span>
                <span class="select9" ng-click="filter('Other');"><i></i><b>其他</b></span>
            </div>
            <div class="subbit">
                <button>显示全部</button>
            </div>
        </div>  
    </ion-content>
        
</ion-modal-view>
